@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  body {
    font-family: 'Poppins', sans-serif;
    background: #141E30;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #836FFF, #473C8B);  /* Chrome 10-25, Safari 5.1-6 */
    background-image: url('https: //phonoteka.org/uploads/posts/2022-01/thumbs/1643255022_5-phonoteka-org-p-tsvet-fona-dlya-saita-6.jpg'); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
    min-height: 100vh;
    width: 100%;
  }
}
